body{
 height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 10px;
 overflow: hidden;


}

*{
    margin: 0;
    padding: 0;
    width: fit-content;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;
    width: 100vw;
    

 

/* justify-content: space-between; */
  align-items: center;
  padding: 31px 50px;
  height: 60px;
  position: fixed;
  width: 100%;
}
/* header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

} */
.list{
    display: flex;
    /* align-items: center; */
    list-style: none;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}
.list-items{
     padding: 5px 5px 5px 5px; 
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  
    /* justify-content: space-around; */
}
.main-section{
    display: flex;
    align-items: center;
    width: 100vw;
    
    overflow:hidden;
 margin-top: 100px;
 margin-bottom: 0;
 height: 100vh;

}
.main-section-left>h1{
    padding-bottom: 10px;
    font-size: 45px;
}
.header-right-btn{
    padding: 14px 28px;
  background-color: #5955b3;
  border: none;
  border-radius: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  position: relative;
  left: 100px;
  cursor:pointer;
}

.heading-text{
    
        color: #5955b3;
      
}
.main-btn{
    margin-top: 72px;
    background-color: #5955b3;
    padding: 14px 28px;
    border: none;
  border-radius: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.header-middle{
    position: relative;
    left: 50px;
    display: flex;
    flex-grow: 1;
    max-width: 790px;
    /* padding-left: 20px; */
}
.main-section-right>img{
    width: 600px;
    position: relative;
    left: 60px;
}
.header-right{
    position: relative;
    right: 60px;

}
.header-left{
 position: relative;
 right: 50px;
 cursor: pointer;
}
.main-section-left{
    padding-left: 23px;
}